{{>header}}
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        <div class="container">
            <div class="header-body text-center mb-2">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Nạp thẻ điện thoại</h1>
                        {{#if message}}
                        <h3 class="{{type}}">{{message}}</h3>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
    </div>
    <br>

    <div class="row">

    </div>

    <div class="row col-12">
        <div class="col-2">
        </div>
        <div class="col-8">
            <hr>
            <div class="row">
                {{#with MaThe}}
                <div class="form-group col-6">
                    <form onSubmit="return confirm('Mua thẻ nạp điện thoại?');" method="POST" action="/napThe">

                        <div class="form-inline">
                            <label class="col-4" for="fromcard">Số thẻ nạp:</label>
                            <input type="text" class="form-control col-8" value="{{code}}" readonly>
                        </div>
                        <hr>
                        <div class="form-inline">
                            <label class="col-4" for="fromcard">Số thẻ nạp:</label>
                            <input type="text" class="form-control col-8" value="{{seri}}" readonly>
                        </div>

                        <a style="margin-top:5%;" href="/account" class="btn btn-primary">Quay Về Tài Khoản</a>
                    </form>
                </div>

                <div class="col-4">
                    <img src="/img/home/{{nhaMang}}">
                </div>

                {{/with}}
            </div>
        </div>
    </div>
</div>

{{> footer }}