{{> header}}
{{#with UserDetails}}
<!-- Main content -->
<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-6 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Chi tiết người dùng</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3"><small></small></div>
            <div class="btn-wrapper text-center">
              <a href="/users/useredit" class="btn btn-neutral btn-icon">
                <span class="btn-inner--text">Cập nhật thông tin</span>
              </a>
              <a href="/users/changepassword" class="btn btn-neutral btn-icon">
                <span class="btn-inner--text">Đổi mật khẩu</span>
              </a>
            </div>
            <div class="btn-wrapper text-center">
              <a href="/users/changeavatar" class="btn btn-neutral my-2">
                <span class="btn-inner--text">Đổi ảnh đại diện</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-4 py-lg-4">
            <div class=" text-center mt-2 mb-3 text-info"><b>Thông tin người dùng</b></div>
            <form role="form">

              <div class="form-group mb-3">
                <label class="control-label">Ảnh đại diện</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <img class="img-center" src="{{avatarPath}}">
                </div>
              </div>

              <div class="form-group mb-3">
                <label class="control-label">Họ và tên</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <label class="form-control">{{fullname}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <label class="form-control">{{username}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <label class="form-control">{{address}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <label class="form-control">{{phone}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Tuổi</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <label class="form-control">{{dateofbirth}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Danh tính</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <label class="form-control">{{identity}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Giới tính</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <label class="form-control">{{gender}}</label>
                </div>
              </div>
              <div class="btn-wrapper text-center">
                <a href="/account" class="btn btn-primary my-2">
                  <span class="btn-inner--text">Tài khoản của bạn</span>
                </a>
                <a href="/passbook" class="btn btn-primary my-2">
                  <span class="btn-inner--text">Sổ tiết kiệm</span>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}